.contentWrapper {
  overflow: auto;

  div.content {
    padding: 10px;
  }
}

.optionsWrapper {
  width: 1024px;
  position: absolute;
  bottom: 0px;
  background: orange;
  height: 50px;
  text-align: center;
  padding:0;

  .option {
    display: inline-block;
    margin-left: 20px;
    margin-top: 8px;
    background: pink;
    padding: 10px;
  }
}

.emage {
  width: 203px;
  height: 170px;
  background: white;
  line-height: 170px;
  overflow: hidden;
}

div.btn[droppable-dnd], div.btn[droppable] {
  width:180px;
  height:31px;
  padding-left:6px;
}

div.btn-group[droppable-dnd], div.btn-group[droppable] {
  width:190px;
  height:30px;
  margin-bottom:-15px;
}

div.btn[draggable-dnd], div.btn[draggable] {
  width: 160px;
}

.hidden {
  visibility: hidden;
}

/* iPad only */
.handHeld {
  #container {
    position: relative;
    
  }
  .contentWrapper {
    margin-top: 50px;
  }
  .optionsWrapper {
    top: 0px;
  }
}